# Virtual Environment
venv/
env/
__pycache__/
*.pyc

# Streamlit Secrets (غير مطلوب الآن)
.streamlit/secrets.toml
.streamlit/config.toml

# Data Files
*.csv
*.xlsx
*.log

# IDE Files
.idea/
.vscode/
.DS_Store
Thumbs.db
desktop.ini